<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>Book Recommendations</h1>
    <ul>
        {% for book in books %}
            <li>
                <img src="{{ book.cover_image }}" alt="{{ book.title }} cover" style="width: 150px; height: auto;"><br>
                <strong>{{ book.title }}</strong> by {{ book.author }}<br>
                Genre: {{ book.genre }}<br>
                Themes: {{ book.themes }}<br>
                Character vs Plot: {{ book.character_vs_plot }}<br>
                Writing Style: {{ book.writing_style }}<br>
                Setting: {{ book.setting }}<br>
                Mood: {{ book.mood }}<br>
               
            </li>
        {% endfor %}
    </ul>
</body>
</html>
