{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Website Login Page</title>
    
    <!-- Include Slick CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
</head>
<body>
    
    <div class="container">
        <nav class="navbar">
            <h1 class="heading">ChoiceHub</h1>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Quizzes</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="glass-box-login">
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}" class="register-link">Register here</a></p>
        </div>
    </div>
    {% for message in messages %}
    <script>
        alert("{{ message }}");  // Show the message as an alert
    </script>
{% endfor %}
</body>
</html>
